extends layouts/baseof.pug

block title
	title Bergen - Accueil

block content
	.col
		include ./components/First-Card.pug
	.col
		include ./components/Second-Card.pug
	.col
		include ./components/Third-Card.pug
	.col
		include ./components/Fourth-Card.pug
