extends layouts/baseof.pug

block title
	title Bergen - Accueil

block content
	include ./components/First-Card.pug
	include ./components/Second-Card.pug
	include ./components/Third-Card.pug
	include ./components/Fourth-Card.pug
