extends layouts/baseof.pug

block title
	title Bergen - Accueil

block content
	.col.col-md-6.mx-auto.my-5
		include ./components/First-Card.pug
	.col.mt-0
		include ./components/Second-Card.pug
	.col
		include ./components/Third-Card.pug
	.col
		include ./components/Fourth-Card.pug
