doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block title
			title "Bergen"
		link(rel="stylesheet" href="/src/scss/main.scss")
		script(type="module" src="/src/js/main.js")
	body.container-fluid.px-0
		.row.row-cols-1
			.col.sticky-top
				include ../components/Navbar.pug
			block content
			.col
				include ../components/Footer.pug
