doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block title
			title "Bootstrap w/ Parcel"
		link(rel="stylesheet" href="/src/scss/main.scss")
		script(type="module" src="/src/js/main.js")
	body
		div.container-fluid.px-0.sticky-top
			include ../components/Navbar.pug
		block content
		include ../components/Footer.pug
