.footer
	.container-fluid
		.row.row-cols-1.row-cols-sm-2
			.col
				h5 Bergen
				adress
					p.
						123 rue démo<br>
						Brooklyn, NY 1234<br>
					p.
						Conçu avec <a href="#">Squarespace</a>
			.row.row-cols-1.row-cols-sm-2
				.col
					.about
						h5 À propos
						ul.list-group
							li.list-group-item <a href="#">Mon travail</a>
							li.list-group-item <a href="#">Qui sommes-nous ?</a>
							li.list-group-item <a href="#">Nous contacter</a>
				.col
					.projects
						h5 Projets
						ul.list-group
							li.list-group-item <a href="#">Design résidentiel</a>
							li.list-group-item <a href="#">Design commercial</a>
							li.list-group-item <a href="#">Design expérimental</a>
