div.footer
	div.row.row-cols-1.row-cols-md-2
		div.col
			h5 Bergen
			adress
				p.
					123 rue démo<br>
					Brooklyn, NY 1234<br>
				p.
					Conçu avec <a href="#">Squarespace</a>
		div.col
			div.row.row-cols-1.row-cols-md-4
				div.col
					div.about
						h5 À propos
						ul.list-group
							li.list-group-item <a href="#">Mon travail</a>
							li.list-group-item <a href="#">Qui sommes-nous ?</a>
							li.list-group-item <a href="#">Nous contacter</a>
				div.col
					div.projects
						h5 Projets
						ul.list-group
							li.list-group-item <a href="#">Design résidentiel</a>
							li.list-group-item <a href="#">Design commercial</a>
							li.list-group-item <a href="#">Design expérimental</a>
