div.fourth-card.card
	img.card-img-top(src="/assets/images/fourth-card-image.jpg" alt="a black wall design with decoration")
	div.card-body.container-fluid
		div.row.row-cols-1.row-cols-md-2
			div.col
				h5.card-title Design expérimental
				p.card-text
					| Espaces de marque temporaires et permanents.
			div.col.d-flex.justify-content-end
				div.d-flex
					a.btn.bg-black.my-auto(href="#" role="button") Voir le projet

