.fourth-card.card
	.container-fluid
		img.card-img-top(src="/assets/images/fourth-card-image.jpg" alt="a black wall design with decoration")
		.card-body.px-0
			.row.row-cols-1.row-cols-md-2
				.col
					h5.card-title Design expérimental
					p.card-text
						| Espaces de marque temporaires et permanents.
				.col.d-flex.justify-content-end
					.d-flex
						a.btn.bg-black.my-auto(href="#" role="button") Voir le projet
