.container-fluid
  nav.navbar.navbar-expand-md
    .container-fluid
      a.navbar-brand(href='/') Bergen
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.flex-grow-0
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link.active(aria-current="page" href="#") Mon travail
          li.nav-item
            a.nav-link(href="#") À propos
          li.nav-item
            a.nav-link(href="#") Nos services
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Projets
            ul.dropdown-menu
              li
                a.dropdown-item(href="#") Design résidentiel
              li
                a.dropdown-item(href="#") Design commercial
              li
                a.dropdown-item(href="#") Design expérimental
          li.nav-item
            a.nav-link.btn.bg-black(href="/src/pages/contact.pug" role="button") Nous contacter

