.second-card.card
	.container-fluid.px-0
		img.card-img-top(src="/assets/images/second-card-image.jpg" alt="a white bedroom design")
		.card-body.px-0
			.row.row-cols-1.row-cols-md-2
				.col.col-md-8
					h5.card-title.pt-3 Design résidentiel
					p.card-text.py-4
						| Appartements, maisons et propriétés de vacances.
				.col.col-md-4.d-flex.justify-content-end
					.d-flex
						a.btn.bg-black.my-auto(href="#" role="button") Voir le projet
