div.second-card.card
    img.card-img-top(src="/assets/images/second-card-image.jpg" alt="a white bedroom design")
    div.card-body
        h5.card-title Design résidentiel
        p.card-text
            | Appartements, maisons et propriétés de vacances.
        a.btn.bg-black(href="#" role="button") Voir le projet

