.second-card.card
	.container-fluid
		img.card-img-top(src="/assets/images/second-card-image.jpg" alt="a white bedroom design")
		.card-body.px-0
			.row.row-cols-1.row-cols-md-2
				.col
					h5.card-title Design résidentiel
					p.card-text
						| Appartements, maisons et propriétés de vacances.
				.col.d-flex.justify-content-end
					.d-flex
						a.btn.bg-black.my-auto(href="#" role="button") Voir le projet
