.third-card.card
	.container-fluid
		img.card-img-top(src="/assets/images/third-card-image.jpg" alt="a white design bathroom with wood furniture")
		.card-body.px-0
			.row.row-cols-1.row-cols-md-2
				.col
					h5.card-title Design commercial
					p.card-text
						| Des environnements créatifs et accueillants pour le commerce de détail et l'hôtellerie.
				.col.d-flex.justify-content-end
					.d-flex
						a.btn.bg-black.my-auto(href="#" role="button") Voir le projet
