div.third-card.card
    img.card-img-top(src="/assets/images/third-card-image.jpg" alt="a white design bathroom with wood furniture")
    div.card-body
        h5.card-title Design commercial
        p.card-text
            | Des environnements créatifs et accueillants pour le commerce de détail et l'hôtellerie.
        a.btn.bg-black(href="#" role="button") Voir le projet

