.third-card.card
	.container-fluid.px-0
		img.card-img-top(src="/assets/images/third-card-image.jpg" alt="a white design bathroom with wood furniture")
		.card-body.px-0
			.row.row-cols-1.row-cols-md-2
				.col.col-md-8
					h5.card-title.pt-3 Design commercial
					p.card-text.py-4
						| Des environnements créatifs et accueillants pour le commerce de détail et l'hôtellerie.
				.col.col-md-4.d-flex.justify-content-end
					.d-flex
						a.btn.bg-black.my-auto(href="#" role="button") Voir le projet
