// use the bootstrap module
@use 'bootstrap';

.first-card {
	border: 0 !important;
	text-align: center;
	
	.card-text {
		font-size: 1.08rem;
	}
	
	.card-title {
		font-size: 2rem;
		margin-top: 2rem;
		line-height: 3rem;
	}
}
