// use the bootstrap module
@use 'bootstrap';

.navbar {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
	
	.navbar-brand {
		font-family: bodoni;
		color: #000;
		@include bootstrap.font-size(1.6rem);
	}
	
	.navbar-toggler {
		border: 0 !important;
	}
	
	.navbar-nav {
		.nav-item {
			margin-top: auto !important;
			margin-bottom: auto !important;
			
			&.dropdown {
				.dropdown-menu {
					border: 0 !important;
				}
			}
		}
		
		.nav-link {
      display: inline-block;
			color: #000;
			@include bootstrap.font-size(1.15rem);
			
			&.btn {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
				@include bootstrap.font-size(1rem);
				font-weight: bold;
				color: #fff;
			}
			
			&.active {
				text-decoration: underline;
			}
		}
	}
}
