// load the bootstrap scss module (functions, variables, mixins, ...)
@forward 'bootstrap';

// load custom components scss parts
@use 'navbar';
@use 'first-card';
@use 'second-card';
@use 'third-card';
@use 'fourth-card';
@use 'footer';

// load custom fonts
@font-face {
	font-family: bodoni-book;
	src: url(/assets/fonts/bodoni-book.otf);
}

@font-face {
	font-family: proxima-thin;
	src: url(/assets/fonts/proxima-thin.otf);
}

// add additional custom code here
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: bodoni-book;
}
